.rodape {
    align-items: center;
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.rodape__logo {
    margin-bottom: 2rem;
    margin-top: 2rem;
    width:150px;
}

.rodape_redeSocial {
    display: flex;
    justify-content:space-between;
    width:120px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.rodape__imgRedeSocial{
    width: 30px;
}

.rodape__textoLink {
    margin-bottom: 2rem;
}
.rodape__link {
    font-weight: bold;
    color:var(--branco);
    text-decoration: none;
}

.rodape__textoIslander {
    color: var(--branco);
    margin-bottom: 2rem;
    font-weight: 400;
}

.rodape__copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--preto);
}

.rodape__copyright-texto{
    color: var(--branco);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.rodape__copyright-webmail {
    margin-bottom: 1rem;
}

.rodape__copyright-webmailLink{
    text-decoration: none;
    color: var(--vermelho);
}

@media (max-width:770px){
    .rodape__textoIslander {
        text-align: center;
        color: var(--branco);
        line-height:1.5rem;
        margin-bottom: 2rem;
        font-weight: 400;
    }

}
