html{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.barra__inicial{
    display:flex;
    justify-content:space-between;
    background:#535252;
    font-weight: bold;
    padding-left: 8rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.barra_texto{
    color:#f0f0f0;
    text-transform: uppercase;
}

.barra__lista{
    display:flex;
}

.iconRedesSociais {
    width:20px;
    height:20px;
    margin-left:1rem;
}

.menu__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:#0e0e0e;
    padding:1rem;
}

.menu__conteudo {
    display: flex;
}

.menu__titulo-texto{
    margin-left: 20px;
    margin-top: 50px;
}

.menu__logo {
    width: 150px;
}

.menu__titulo {
    color: Orange;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 1rem;
}

.menu__texto{
    font-family: var(--fonte-islander);
    font-size: 1.5rem;
    color: var(--branco)
}

.menu__lista{
    display: flex;
    
}

.menu__lista--item{
    margin-left: 1.3rem;
}

.menu__lista--link {
    color: #f0f0f0;
    font-size:1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.menu__lista--link:hover{
    text-decoration: underline;
}


@media (max-width: 770px) { 
    .barra__inicial{
        display:flex;
        justify-content:space-between;
        background:#535252;
        font-weight: bold;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    } 

    .menu__nav{
        margin-top:5px;
    }

    .menu__header {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        background:#0e0e0e;
        padding:.5rem;
    }

    .menu__logo {
        width: 100px;
    }

    .menu__conteudo{
        display: flex;
        margin: 0;
    
    }

    .menu__titulo-texto{
        margin-left: 10px;
        margin-top: 10px;
        width: 60vw;
    }

    .menu__titulo {
        font-size: 2rem;
        margin-bottom: .5rem;
    }

    .menu__texto{
        font-family: var(--fonte-islander);
        font-size: .9rem;
        line-height:1.2rem;
        color: var(--branco)
    }

}
